@import 'kube.min.css';

$content-bg: rgba(50, 50, 50, 0.5);
$text-color: rgba(255, 255, 255, 0.5);
$link-color: #f03c69;
$link-hover-color: #fff;
$link-active-color: black;

body {
	background: #222 url('../assets/dark-triangles.png') repeat; /* binding-dark.png courtesy of Tia Newbury. Found @ http://subtlepatterns.com/ */
    font-family: monospace;
}

a {
    text-decoration: none;
    color: $link-color;
    
    &:hover {
        color: $link-hover-color;
    }
}

div.inline > div {
    display: inline-block;
}

div.root-container {
    width: 100%;
    top: 100px;
	
	div.content-container {
        width: 100%;
        background-color: $content-bg;
        z-index: 1;
        padding-top: 60px;
        color: $text-color;
        
        & > div {
            min-height: 285px;
        }

        div.content {
            margin: 0 auto;
            padding: 25px;
            text-align: center;
            min-height: 100px;
            
            &.half {
                width: 50%;
            }
            
            &.eighty {
                width: 80%;
            }
        }
        
        /*.parallax {
            background-image: url('../assets/photos/asturia_coastal_city_2015_big.png');
            height: 250px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }*/
    }
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

@import 'navbar';
@import 'about';
@import 'contact';
@import 'work';
@import 'art';