@import url(kube.min.css);
html {
  min-height: 100%;
  position: relative; }

body {
  background: #222 url("../assets/dark-triangles.png") repeat;
  /* binding-dark.png courtesy of Tia Newbury. Found @ http://subtlepatterns.com/ */
  font-family: monospace; }

a {
  text-decoration: none;
  color: #f03c69; }
  a:hover {
    color: #fff; }

div.inline > div {
  display: inline-block; }

div.root-container {
  width: 100%;
  top: 100px; }
  div.root-container div.content-container {
    width: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1;
    padding-top: 60px;
    color: rgba(255, 255, 255, 0.5);
    /*.parallax {
        background-image: url('../assets/photos/asturia_coastal_city_2015_big.png');
        height: 250px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }*/ }
    div.root-container div.content-container > div {
      min-height: 285px; }
    div.root-container div.content-container div.content {
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      min-height: 100px; }
      div.root-container div.content-container div.content.half {
        width: 50%; }
      div.root-container div.content-container div.content.eighty {
        width: 80%; }

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll; } }
nav {
  z-index: 2;
  width: 100%;
  background-color: #151515;
  position: fixed; }
  nav ul {
    list-style-type: none;
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 0;
    overflow: visible;
    text-align: center; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        display: block;
        padding: 16px 16px;
        color: #f03c69;
        text-align: center;
        text-decoration: none; }
        nav ul li a:hover {
          background-color: #212121;
          color: #fff; }
        nav ul li a.active {
          position: relative;
          background-color: #dedede;
          color: black;
          border: 2px solid #dedede; }
          nav ul li a.active:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          nav ul li a.active:after {
            border-color: rgba(222, 222, 222, 0);
            border-top-color: #dedede;
            border-width: 16px;
            margin-left: -16px; }

div.header {
  margin: 0 auto;
  padding: 5px;
  padding-top: 20px;
  font-size: 22pt;
  font-weight: bold;
  color: #f03c69;
  width: 330px; }
  div.header ul {
    list-style-type: none; }
    div.header ul li:first-child {
      color: #fff; }

div.contact {
  width: 240px;
  min-width: 240px; }

div.info {
  margin: 20px auto 0 auto;
  width: 250px; }

div.work-entry {
  padding: 15px; }
  div.work-entry:nth-child(even) {
    background-color: rgba(100, 100, 100, 0.2); }
  div.work-entry hr {
    background-color: rgba(255, 255, 255, 0.5); }

li.subtitle {
  font-size: 8pt;
  line-height: normal;
  margin-top: 5px; }
  li.subtitle a {
    text-decoration: none; }
    li.subtitle a:link, li.subtitle a:visited, li.subtitle a:hover, li.subtitle a:active {
      text-decoration: none;
      color: inherit; }
  li.subtitle:last-child {
    margin-top: 0; }

div.gallery-header {
  color: #ddd; }

div.gallery {
  display: flex;
  flex-wrap: wrap; }

div.image-container {
  position: relative;
  /*display: inline-block;
  overflow: hidden;*/
  margin: 0 10px 10px 10px; }
  div.image-container:hover {
    cursor: pointer; }
  div.image-container figure.loaded-image {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    div.image-container figure.loaded-image img.image-final {
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease; }
      div.image-container figure.loaded-image img.image-final.image-fade-in {
        opacity: 1; }
    div.image-container figure.loaded-image figcaption {
      overflow-wrap: normal;
      text-align: left;
      color: #a0a0a0;
      background-color: rgba(0, 0, 0, 0.7); }
  div.image-container img.image-preload {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

div.light-box {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto; }
  div.light-box .light-box-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
