body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    text-align: center;
    font-weight: 200;
    margin: 20px 0;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

.project {
    text-align: center;
    margin: 50px 0;
}

#container {
    text-align: center;
}

#canvas {
    width: 900px;
    height: 600px;
}

#info {
    text-align: left;
    margin-left: 100px;
}

.controls {
    margin: 0;
    margin-bottom: 10px;
}

#nav-menu {
    text-align: right;
    margin-right: 90px;
}

.nav-item {
    margin: 0 15px;
}