body {
	background: #222 url('../assets/dark-triangles.png') repeat; /* binding-dark.png courtesy of Tia Newbury. Found @ http://subtlepatterns.com/ */
    font-family: sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

h1, h2, h3, h6 {
    text-align: center;
    font-weight: 200;
    font-family: 'Poly', sans-serif;
}

.arrow-box {
	position: relative;
	background: #dedede;
	border: 2px solid #dedede;
    
    &:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    &:after  {
        border-color: rgba(222, 222, 222, 0);
        border-top-color: #dedede;
        border-width: 16px;
        margin-left: -16px;
    }
}

div.full {
    width: 100%;
    position: fixed;
    top: 100px;
    
    nav {
        z-index: 2;
        width: 100%;
        background-color: #151515;
        
        ul {
            list-style-type: none;
            display: block;
            margin: 0 auto;
            width: 50%;
            padding: 0;
            overflow: visible;
            text-align: center;
            
            li {
                display: inline-block;
                
                a {
                    display: block;
                    padding: 16px 16px;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    
                    &.active {
                        background-color: #dedede;
                        color: black;
                    }
                    
                    &:hover {
                        background-color: #212121;
                        color: white;
                    }
                }
            }
        }
    }

    div.content-container {
        width: 100%;
        background-color: #666;
        z-index: 1;
        
        div.title {
            margin: 0 auto;
            padding: 5px;
            padding-top: 30px;
            font-size: 22pt;
            color: #151515;
            width: 300px;
            
            ul {
                list-style-type: none;
            }
        }

        div.content {
            margin: 0 auto;
            padding: 25px;
            text-align: center;
            min-height: 100px;
        }
    }

    div.footer {
        width: 100%;
        padding: 0;
        margin: 0;
        background: #151515 none;
        
        h6 {
            color: #eee;
        }
    }
}

